.step {
	width: 100%;
	padding-top: 48px;
	padding-bottom: 60px;
	background: #ffffff;
}

.stepMain {
	/* Main section styles */
}

.stepParams {
	margin-bottom: 40px;
}

.stepAdditional {
	/* Additional options section styles */
}

.stepTotal {
	/* Total section styles */
}

@media (max-width: 1200px) {
	.step {
		padding-top: 40px;
		padding-bottom: 48px;
	}
}

@media (max-width: 750px) {
	.step {
		padding-top: 24px;
		padding-bottom: 40px;
	}
}

