.main {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 60px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.mainData {
	width: 40%;
	max-width: 560px;
}

.mainTitle {
	font-size: 36px;
	font-weight: 200;
	line-height: 50px;
	color: #333;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainDescription {
	font-size: 16px;
	font-weight: 200;
	line-height: 24px;
	color: #333;
	margin-top: 18px;
	margin: 18px 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainLoadRender {
	width: 100%;
	max-width: 330px;
	display: flex;
	align-items: center;
	margin-top: 48px;
	cursor: pointer;
}

.mainLoadRender:hover .mainLoadRenderBtn {
	border-color: #5078DF;
	color: #5078DF;
}

.mainLoadRenderBtn {
	width: 100%;
	max-width: 66px;
	height: 96px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #949494;
	text-align: center;
	font-size: 34px;
	font-weight: 200;
	line-height: 1;
	padding: 24px;
	border-radius: 20px;
	border: 1px solid #d0d0d0;
	transition: 0.2s ease;
	background: transparent;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainLoadRenderText {
	width: 100%;
	max-width: 225px;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	color: #333;
	margin-left: 30px;
	margin: 0 0 0 30px;
}

.mainDesign {
	width: 60%;
	max-width: 840px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mainDesignPreview {
	width: 100%;
}

.mainDesignPreview .previewContainer {
	display: flex;
	gap: 40px;
	height: 25vw;
	max-height: 282px;
	align-items: stretch;
	justify-content: space-between;
}

.mainDesignPreview .previewView {
	position: relative;
	width: 200px;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	background: #efefef;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	margin-right: 40px;
}

.mainDesignPreview .previewView:last-child {
	margin-right: 0;
}

@media (max-width: 1200px) {
	.main {
		flex-direction: column;
		gap: 40px;
		padding: 0 16px;
	}
	
	.mainData {
		width: 100%;
		max-width: none;
	}
	
	.mainTitle {
		font-size: 32px;
	}
	
	.mainLoadRender {
		margin: 18px 0 0;
	}
	
	.mainLoadRenderBtn {
		height: 66px;
	}
	
	.mainDesign {
		width: 100%;
		max-width: none;
	}
	
	.mainDesignPreview .previewContainer {
		gap: 20px;
		height: 40vw;
	}
}

@media (max-width: 1200px) {
	.mainDesignPreview .previewContainer {
		height: 40vw;
		gap: 20px;
	}
	
	.mainDesignPreview .previewView {
		width: 32%;
		height: 100%;
		margin-right: 20px;
	}
}

@media (max-width: 1100px) {
	.mainDesignPreview .previewContainer {
		flex-direction: row;
		gap: 16px;
		height: 40vw;
		overflow-x: auto;
	}
	
	.mainDesignPreview .previewView {
		min-width: 32%;
		height: 100%;
		flex-shrink: 0;
	}
}

@media (max-width: 1100px) {
	.main {
		flex-direction: column;
	}
	
	.mainData {
		order: 2; /* Контент снизу */
	}
	
	.mainDesign {
		order: 1; /* Картинки сверху */
		margin-bottom: 40px;
	}
}

@media (max-width: 750px) {
	.mainData {
		margin-top: 48px;
	}
	
	.mainTitle {
		font-size: 28px;
	}
	
	.mainLoadRenderText {
		font-size: 18px;
		margin-left: 15px;
	}
}

@media (max-width: 400px) {
	.mainTitle {
		font-size: 24px;
	}
	
	.mainLoadRenderText {
		font-size: 16px;
	}
}

