.additional {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-top: 48px;
}

.additionalOption {
	flex: 1 1 auto;
	max-width: 440px;
	margin-right: 20px;
}

.additionalOption:last-child {
	margin-right: 0;
}

.additionalOption.choosen .additionalOptionField {
	border-color: #5078DF;
}

.additionalOption.choosen .additionalOptionPlus {
	color: #5078DF;
}

.additionalOption.captionOption.choosen .additionalOptionInner {
	display: none;
}

.additionalOption.captionOption.choosen .captionOptionInput {
	display: block;
}

.additionalOptionField {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 19px 34px;
	height: 100px;
	border-radius: 20px;
	border: 1px solid #d0d0d0;
	transition: 0.2s ease;
	cursor: pointer;
}

.additionalOptionField:hover {
	border-color: #9e9e9e;
}

.additionalOptionInner {
	width: 100%;
	max-width: 250px;
}

.additionalOptionTitle {
	font-size: 24px;
	font-weight: 200;
	font-family: 'TildaSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: normal;
	color: #656565;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.additionalOptionPrice {
	font-size: 20px;
	font-weight: 200;
	font-family: 'TildaSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 25px;
	color: #656565;
	margin-top: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.captionOptionInput {
	width: 100%;
	max-width: 120px;
	font-size: 16px;
	padding: 9px 16px;
	color: #949494;
	border-radius: 1px;
	border: 1px dashed #a9a9a9;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1) inset;
	display: none;
	background: transparent;
}

.postCardInput {
	resize: none;
	width: 100%;
	max-width: 220px;
}

.additionalOptionPlus {
	font-size: 34px;
	font-weight: 200;
	line-height: 1;
	color: #949494;
	transition: all 0.3s ease;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.additionalOptionImageInner {
	width: 100%;
	min-height: 256px;
	margin-top: 36px;
	border-radius: 20px;
	background-color: #f6f6f6;
	overflow: hidden;
}

.additionalOptionImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1200px) {
	.additional {
		flex-direction: column;
		max-width: 700px;
		margin: 40px auto 0;
	}
	
	.additionalOption {
		width: 100%;
		max-width: none;
		margin: 0;
	}
	
	.additionalOption:nth-child(n + 2) {
		margin-top: 56px;
	}
}

@media (max-width: 750px) {
	.additionalOptionField {
		padding: 17px 28px;
	}
	
	.additionalOptionTitle {
		font-size: 20px;
	}
	
	.additionalOptionPrice {
		font-size: 16px;
		line-height: 20px;
	}
	
	.additionalOptionImageInner {
		width: 100%;
		max-width: none;
		margin-top: 15px;
		min-height: 200px;
	}
}



