.root { width: fit-content; display: flex; justify-content: space-between; margin-top: 44px; }
.inner { display: flex; justify-content: center; }
.itemsRow { display: flex; justify-content: space-between; }
.item { display: flex; align-items: center; border-radius: 56px; background: #f5f5f5; padding: 16px 26px 16px 16px; border: 1px solid transparent; margin-right: 16px; cursor: pointer; transition: .2s ease; }
.item:last-child { margin-right: 0; }
.choosen.item, .item.choosen { background: #fff; border-color: #5078DF; }
.emptyItem .itemPreview { background: #e9e9e9; }
.emptyItem .itemName { color: #a9a9a9; }
.itemPreview { min-width: 32px; max-width: 32px; min-height: 32px; border-radius: 50%; margin-right: 16px; }
.itemName { font-size: 16px; line-height: 20px; }
@media (max-width: 1100px) { .root { display: none; } }
