services:
  backend-dev:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: slavalarionov-backend-dev
    environment:
      NODE_ENV: development
      PORT: 8081
      DATABASE_URL: "file:./prisma/dev.db"
      NEXT_PUBLIC_MEDIA_BASE_URL: "https://sl.cdn1.dev"
    env_file:
      - backend/.env
    ports:
      - "8081:8081"
    working_dir: /app/backend
    volumes:
      # Монтируем папку с хоста, чтобы импорт (prisma:import-backup) и админка использовали один и тот же dev.db
      - ./backend/prisma:/app/backend/prisma
      - backend_uploads_dev:/app/backend/uploads
    restart: unless-stopped

volumes:
  backend_uploads_dev:


