.configuratorSection {
	padding: 60px 0;
	background: #ffffff;
}

.configuratorTitle {
	max-width: 630px;
	font-weight: 300;
	font-size: 48px;
	color: #333;
	margin: 0 auto;
	text-align: center;
	font-family: 'Manrope', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.configuratorContent {
	margin-top: 24px;
	background: #ffffff;
}

/* vertical rhythm */
.configuratorContent > * + * { margin-top: 24px; }

@media (max-width: 1500px) {
	.configuratorTitle { font-size: 40px; max-width: 550px; }
}
@media (max-width: 1200px) {
	.configuratorTitle { font-size: 32px; max-width: 450px; }
}
@media (max-width: 750px) {
	.configuratorSection { position: relative; padding-top: 105px; }
	.configuratorTitle { font-size: 28px; max-width: 400px; }
}
@media (max-width: 700px) {
	.configuratorTitle { font-size: 24px; max-width: 350px; }
}
@media (max-width: 550px) {
	.configuratorFixedViewLayer { display: none; }
}
