.nav {
	/* Base nav styles */
}

.navList {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navListItem {
	font-size: 14px;
	font-weight: 400;
	margin-right: 30px;
}

.navListItem:last-child {
	margin-right: 0;
}

.navListItem a {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.2s ease;
}

.navListItem a:hover {
	opacity: 0.8;
}

@media (max-width: 1100px) {
	.navListItem {
		margin-right: 20px;
	}
}

