.header {
	background: #5078df;
	color: #fff;
	padding: 16px 0;
	height: 48px;
	display: flex;
	align-items: center;
}

.headerContainer {
	display: flex;
	align-items: center;
}

.headerLogo {
	margin-right: 110px;
}

.headerNavInner {
	display: flex;
	align-items: flex-start;
	margin: 0 auto;
	flex-grow: 1;
}

.headerNav {
	margin-right: 40px;
}

.headerNav:last-child {
	margin-right: 0;
}

.headerNavOther {
	margin-left: auto;
}

@media (max-width: 1100px) {
	.headerLogo {
		margin-right: 55px;
	}
}

@media (max-width: 1000px) {
	.headerNavInner {
		display: none;
	}
	
	.headerLogo {
		margin-right: 0;
	}
}

@media (max-width: 1000px) {
	.headerNavInner {
		display: none;
	}
}



